<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewModuleServlet</servlet-name>
        <servlet-class>ModuleUtil.NewModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLearningServlet</servlet-name>
        <servlet-class>LearningUtil.NewLearningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserServlet</servlet-name>
        <servlet-class>UserUtil.ListUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLearningGoalServlet</servlet-name>
        <servlet-class>LearningUtil.ListLearningGoalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>UserUtil.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>UserUtil.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <seservlet-class>UserUtil.RegisterUser</seservlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteModuleServlet</servlet-name>
        <servlet-class>ModuleUtil.DeleteModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGoalsServlet</servlet-name>
        <servlet-class>LearningUtil.DeleteGoalsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewModuleServlet</servlet-name>
        <url-pattern>/NewModuleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLearningServlet</servlet-name>
        <url-pattern>/NewLearningServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserServlet</servlet-name>
        <url-pattern>/ListUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLearningGoalServlet</servlet-name>
        <url-pattern>/ListLearningGoalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteModuleServlet</servlet-name>
        <url-pattern>/DeleteModuleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGoalsServlet</servlet-name>
        <url-pattern>/DeleteGoalsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
